* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #292C34;
}

header {
	background-color: white;
	padding: 20px;
}

h1 {
	color: #25272E; 
	text-align: center;
	font-family: 'asap', sans-serif;

}

.state { 
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: asap, sans-serif;
	font-weight: 600px;
}

#comp-base {
	display: none;
}

/*Add on */
.comp-state { 

	margin-top: 30px;
	text-align: center;
	color: white;
	font-size: 24px;
	font-family: asap, sans-serif;
	font-weight: 600px;
}

.compH {
	margin: 80px auto;
	border: 4px solid #202060;
	background-color: #8080ff;
	padding: 10px;
	border-radius: 50%;
  position: absolute;
  left: 50%;
  transform:translate(-50%,-50%);
}


/*---*/ 

.score-board {
	margin: 20px auto;
	border: 3px solid white;
	border-radius: 4px;
	text-align: center;
	width: 200px;
	color: white;
	font-size: 46px;
	padding: 15px 20px;
	font-family: 'asap'. sans-serif;
	position: relative;

}

.badge {
	background-color: #E2584D;
	color: white;
	font-size: 14px;
	padding: 2px 10px;
	font-family: 'asap'. sans-serif;
}

#user-label {
 position: absolute;
 top: 30px;
 left: -25px;
}

#computer-label {
 position: absolute;
 top: 30px;
 right: -28px;
}

.result {
	font-size: 40px;
	color: white;
}

.result p {
	text-align: center;
	font-weight: bold;
	font-family: asap, sans-serif;
}

.choices {
	margin: 50px 0 20px 0;
	text-align: center;

}

.choice {
	border: 4px solid white;
	padding: 10px;
	margin:0px 10px;
	border-radius: 50%;
	display: inline-block;

}

.choice:hover {
	cursor: pointer;
	background: white;
	transition: 0.4s ease;
}

.green-glow {
	border: 4px solid #00b300;
	box-shadow:0 0 10px #009900;
}
.red-glow {
	border: 4px solid #ff3333;
	box-shadow:0 0 10px #cc0000;
}

.grey-glow {
	border: 4px solid #cccccc;
	box-shadow:0 0 10px #666666;
}